# Only track selected course folders
/*
!/.gitignore
!/README.md
!/Introduction_to_AI/
!/Introduction_to_data_mining/
!/Python-program-with-AI/
!/Introduction_to_CV/
!/Embodied AI/
!/Data structure and algorithm/

.DS_Store
**/.DS_Store
.ipynb_checkpoints/
**/__pycache__/
*.pyc

# Sync PDFs only
*.pptx
*.ppt
*.ipynb
*.py
*.log
*.json
**/_translation_work/
